.widget-container {
    display: flex;
    flex-direction: column;
}

.widget-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
    align-items: center;
}

.empty-widget {
    align-items: center;
    justify-content: center;
}