.widget-container {
    display: flex;
    flex-direction: column;
}

.widget-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
    align-items: center;
}

.empty-widget {
    align-items: center;
    justify-content: center;
}

.plus-icon {
    display: none;
}

#topbar-time {
    font-size: 60px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: inherit;
    margin-bottom: 0;
}

#topbar-date {
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}